<!DOCTYPE html>
<html ng-app="ephemeralPhotoApp">

<head>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
  <script data-require="jquery@*" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script data-require="bootstrap@*" data-semver="3.1.1" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link data-require="bootstrap-css@*" data-semver="3.1.1" rel="stylesheet" href="http://bootswatch.com/flatly/bootstrap.css" />
  <link rel="stylesheet" href="stylesheets/style.css" />
  <script src="filters.js"></script>
  <script src="controllers/homeCtrl.js"></script>
  <script src="app.js"></script>

</head>

<body>
  <div class="container-full" ng-controller="defaultCtrl">
    <div class="row">

      <div class="col-lg-12 text-center v-center">

        <h1>Ephemeral Photo</h1>
        <p class="lead">Photo-sharing with a self-destruct timer</p>

        <br><br><br>

        <form name="uploadForm" class="col-lg-12 form-horizontal" method="post" action="/image" enctype="multipart/form-data">
           <div class="row">
            <div class="control-group control-group-lg col-sm-offset-2 col-sm-8">
              <legend>Choose a file</legend>
              <input type="file" class="center-block form-control input-lg" name="image"/>
            </div>
          </div>

        <br><br>

        <div class="row">
           <div class="col-sm-offset-2 col-sm-8">
            <legend>Set a self-destruct time</legend>
            <span class="help-block">The default time is {{ labels.defaultTtl || '12 hours' }}, max is {{ labels.maxTtl || '5 days'}}</span> 
          </div> 
        </div>

          <div class="row">
            <div class="control-group">
              <label for="minutes" ng-model="ttlMinutes">Minutes:</label>
              <div class="controls">
                <input class="text-center" type="number" id="minutes" name="minutes" min="0" placeholder="{{ labels.defaultMinutes || 00 }}">
              </div>
            </div>
            <div class="control-group">
              <label for="hours" ng-model="ttlHours">Hours:</label>
              <div class="controls">
                <input class="text-center" type="number" id="hours" name="hours" min="0" placeholder="{{ labels.defaultHours || 12 }}">
              </div>
            </div>
            <div class="control-group">
              <label for="days" ng-model="ttlDays">Days:</label>
              <div class="controls">
                <input class="text-center" type="number" id="days" name="days" min="0" placeholder="{{ labels.defaultDays || 00 }}">
              </div>
            </div>
          </div>
          <br>
          <br>
          <div class="row h-center">
            <div class="control-group control-group-lg center-block">
              <button type="submit" class="btn btn-primary" name="submit">Submit</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</body>

</html>